# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/

# Environment
.env

# macOS
.DS_Store
*.swp

# Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/captures/
/android/local.properties
/android/GeneratedPluginRegistrant.java

# iOS
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Pods/
